// _type.scss

  // Paragraphs
    p, ul, li {
      @include font-size(16);
    }

  // Headers
    h1, h2, h3, h4, h5, h6 {
      display: block;
      font-family: $font-reg;
      font-weight: 700;
      margin: 0;
    }

    h1 {
      @include font-size(36);
    }

    h2 {
      @include font-size(24);
    }

    h3 {
      @include font-size(18);
    }

    h4 {
      @include font-size(14);
    }

    h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
      margin-top: $space-1;
    }

  // Type Sets
    .caps-light {
      font-weight: 300;
      letter-spacing: .2rem;
      text-transform: uppercase;
    }
    .caps-reg {
      font-weight: 400;
      letter-spacing: .2rem;
      text-transform: uppercase;
    }
    .caps-bold {
      font-weight: 700;
      letter-spacing: .2rem;
      text-transform: uppercase;
    }

  // Blockquotes
    blockquote {
      p {
        // font-family: $font-secondary;
        @include font-size(40);
        font-style: italic;
        font-weight: 700;
      }
    }

  // Lists
    ul {
      list-style: disc;
      margin: 0 0 20px 20px;
      li {
        // @include font-size(24);
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .no-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 0;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    strong {
      font-weight: 700;
    }

  // Nav Links
    .site-header-nav-link a {
      @include font-size(16);
      font-weight: bold;
      @media (min-width: $mq-small) {
        font-size: 1.8rem;
      }
    }

  // Forms
    .form-field-label {
      @include font-size(16);
      font-weight: 300;
    }

    .sub-text {
      @include font-size(14);
      font-weight: 300;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }
