// _variables.scss

  $retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";

// Type
  $font-reg: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
  $color-black:       #222222;
  $color-white:       #fff;
  $color-grey-1:      #F2F2F2;
  $color-grey-2:      #E6E6E6;
  $color-grey-3:      #CCCCCC;
  $color-grey-4:      #BFBFBF;
  $color-grey-5:      #808080;
  $color-grey-6:      #333333;


  $color-red:         #B33B48;
  $color-red-d1:      darken($color-red, 5%);
  $color-red-d2:      darken($color-red, 15%);
  $color-red-d3:      darken($color-red, 25%);
  $color-red-d4:      darken($color-red, 35%);
  $color-red-l1:      lighten($color-red, 5%);
  $color-red-l2:      lighten($color-red, 15%);
  $color-red-l3:      lighten($color-red, 25%);
  $color-red-l4:      lighten($color-red, 35%);

  $color-black-20:    rgba(30, 30, 34, .2);
  $color-black-50:    rgba(30, 30, 34, .5);

// Margins & Paddings
  $space-1:           1rem;
  $space-2:           2rem;
  $space-3:           4rem;
  $space-4:           8rem;
  $space-5:           16rem;
  $space-6:           32rem;
  $space-7:           64rem;

// Media Queries
  // @media (min-width: $mq-small) {}
  $mq-ip5:            321px;
  $mq-ip6:            375px;
  $mq-ip6p:           414px;
  $mq-small:          576px;
  $mq-medium:         768px;
  $mq-large:          992px;
  $mq-xl:             1200px;

// Animations & Transitions
  $timing:            cubic-bezier(.14, .62, .39, 1);

  .hide-ip5 {
    @media (max-width: $mq-ip5) {
      display: none !important;
    }
  }
