@charset "utf-8";
@import "normalize";
@import 'variables';
@import 'mixins';
@import 'type';
@import 'fontawesome';


html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}
body {
  background: $color-white;
  height: 100%;
  width: 100%;

  font-family: $font-reg;
  @include font-size(16);
  text-align: left;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.block {
  padding-left: $space-2 !important;
  padding-right: $space-2 !important;
  @media (min-width: $mq-large) {
    padding-left: $space-4 !important;
    padding-right: $space-4 !important;
  }
}
.btn {
  border-radius: 4px;
  font-weight: 700;
  @include font-size(18);
  padding: $space-1 $space-2;
  width: 100%;
}
.btn-black {
  background: $color-black;
  color: $color-white;
}
.btn-default {
  border: 1px solid $color-grey-3;
  color: $color-black;
}

.tags {
  @include nolist;
  @include flexbox;
  @include flex-wrap(wrap);
}
.tag {
  background: $color-grey-3;
  border-radius: 4px;
  @include font-size(12);
  font-weight: 700;
  margin: $space-1 $space-1 0 0;
  padding: 5px $space-2;
  text-transform: none;
  white-space: nowrap;
  &:last-child {
    margin-right: 0;
  }
}

.masthead {
  height: 60px;
  @media (min-width: $mq-small) {
    height: 100px;
  }
}

.masthead-logo {
  // background: url('../images/versa-logo.svg') no-repeat left center;
  // background-size: 29px 20px;
  // @include text-hide;
  // @include font-size(18);
  // font-weight: 700;
  display: block;
  position: relative;
  height: 60px;
  width: 100%;

  @media (min-width: $mq-small) {
    height: 100px;
  }
}
.masthead-logo-svg {
  @include vertical-center;
}

.masthead-menu-trigger {
  cursor: pointer;
  @include font-size(18);
  @include flexbox;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  line-height: 1;
  text-align: right;
  @media (min-width: $mq-small) {
    height: 100px;
  }
}
.nav {
  @include flexbox;
}
.masthead-nav {
  background: $color-black;
  bottom: 0;
  height: 60px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  align-items: center;
  .nav-link {
    color: $color-white;
    @include font-size(18);
    font-weight: 700;
    text-align: center;
    width: 33.3%;
  }
  @media (min-width: $mq-medium) {
    background: transparent;
    bottom: auto;
    height: 100px;
    left: auto;
    position: relative;
    .nav-link {
      border-left: 1px solid $color-grey-3;
      color: $color-black;
      @include font-size(18);
      font-weight: 700;
      height: 100%;
      text-align: left;
      width: 33.3%;

      @include flexbox;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.container-wrap {
  margin: 0 auto;
  max-width: 95%;
  width: 100%;
}

.hero {
  padding: $space-3 0 $space-2;
  text-align: center;
  @media (min-width: $mq-small) {
    text-align: left;
  }
  @media (min-width: $mq-large) {
    padding: $space-4 0 $space-3;
  }
}
.hero-tags {
  justify-content: center;
  margin: 0 0 $space-2;
  @media (min-width: $mq-small) {
    justify-content: flex-start;
  }
  @media (min-width: $mq-medium) {
    margin: 0;
  }
}
.hero-header {
  text-transform: capitalize;
}

.content {
  padding: $space-3 0;
}

.cards {
  @include nolist;
  @include flexbox;
  @include flex-wrap(wrap);
  & > li {
    counter-increment: item;
    margin-bottom: $space-3;
  }
}

.card {
  background: $color-white;
  border-radius: 4px;
  // min-height: 360px;
  height: 100%;
  min-width: 100%;
  padding: $space-3;
  position: relative;
  @include flexbox;
  @include flex-wrap(wrap);
  align-items: flex-end;
  // align-content: flex-start;
  justify-content: space-between;
  flex-direction: row;
  // align-content: space-between;
  > * {
    align-self: self-start;
    width: 100%;
  }
  @media (min-width: $mq-small) {
  }
  @media (min-width: $mq-large) {
    // min-height: 400px;
  }
  // @media (min-width: $mq-large) {
  //   box-shadow: 20px 20px 20px rgba(0,0,0,0.05);
  //   margin-bottom: 0;
  //   margin-right: $space-3;
  //   min-width: 400px;
  //   max-width: 400px;
  // }
  &:before {
    content: counter(item, decimal-leading-zero);
    color: $color-black;
    @include font-size(24);
    display: block;
    font-weight: 700;
    line-height: 1;
    margin-bottom: $space-2;
    padding-right: 5px;
    position: relative;
    width: 100%;
    align-self: self-start;
  }
}
.card-cta {
  align-self: flex-end;
}
.card-desc {
  margin: 0 0 $space-2;
  min-height: 100px;
}
.card-title {
  min-height: 60px;
  text-transform: none;
}
.card-type {
  color: $color-grey-4;
  font-weight: 700;
  @include font-size(14);
  position: absolute;
  right: $space-3;
  text-align: right;
  top: $space-3;
}
.card-tags {
  margin: 0 0 $space-1 0;
  @include flexbox;
  @include flex-wrap(wrap);
  justify-content: space-between;
  .tag {
    flex-grow: 2;
    margin: 0 $space-1 $space-1 0;
  }
}

// Themes
body.twigs {
  $border-color: $color-grey-3;

  background: $color-grey-2;
  .masthead {
    background: $color-white;
    border-bottom: 1px solid $border-color;
  }
  .hero {
    background: $color-grey-1;
    border-bottom: 1px solid $border-color;
  }
}

body.index, body.branches, body.trunks {
  $border-color: lighten($color-grey-6,10%);
  $text-color: $color-grey-4;

  background: $color-grey-6;
  .masthead {
    background: transparent;
    border-bottom: 1px solid $border-color;
  }
  .masthead-logo-svg--left {
    fill: $color-white;
  }
  .masthead-logo-svg--right {
    fill: $color-grey-2;
  }
  .masthead-menu-trigger {
    color: $text-color;
    &:hover {
      color: $color-white;
    }
  }
  .nav-link {
    border-color: $border-color;
    color: $text-color;
    &:hover {
      color: $color-white;
    }
  }
  .hero {
    background: transparent;
    border-bottom: 1px solid $border-color;
    color: $text-color;
  }
  .hero-header {
    color: $color-white;
  }
  .card {
    border-color: transparent;
  }
}
