@charset "utf-8";
@import "normalize";
@import 'variables';
@import 'mixins';
@import 'type';


html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}
body {
  background: $color-white;
  height: 100%;
  width: 100%;

  font-family: $font-reg;
  @include font-size(16);
  text-align: left;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.topics {
    background: $color-grey-1;
  }
}

.masthead {
  background: $color-white;
  border-bottom: 1px solid $color-grey-3;
  height: 60px;
  @media (min-width: $mq-large) {
    height: 100px;
  }
}

.masthead-logo {
  background: url('../images/versa-logo.svg') no-repeat;
  @include text-hide;
  @include font-size(18);
  font-weight: 700;
  display: block;
  height: 20px;
  width: 29px;
  margin: $space-2 auto;
}

.container-wrap {
  margin: 0 auto;
  max-width: 95%;
  width: 100%;
}
