@charset "utf-8";
@import "normalize";
@import 'variables';
@import 'mixins';
@import 'type';


html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}
body {
  background: $color-white;
  height: 100%;
  width: 100%;

  font-family: $font-reg;
  @include font-size(16);
  text-align: left;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (min-width: $mq-large) {
    padding: $space-4 0 0 0;
  }
}

.wrapper {
  @include flexbox;
  flex-flow: row wrap;
  .container-fluid {
    margin-left: 0;
    margin-right: 0;
  }
}
.wrapper > * {
  flex: 1 100%;
}

.masthead {
  padding: $space-2 0;
  @media (min-width: $mq-large) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}

.masthead-logo {
  @include font-size(18);
  font-weight: 700;
  display: block;
  margin: 9px 0;
}

.nav-list {
  @include flexbox;
  @include flex-wrap(nowrap);
  list-style: none;
  margin: 0 0 $space-2;
  padding: 0;
  width: 100%;
}

.nav-list-item {
  @include flexbox;
  align-self: flex-start;
  margin: 0 $space-2 0 0;
  padding: 1rem 0;
  &:last-child {
    margin-right: 0;
  }
}

.nav-list-link {
  @include flexbox;
  width: 100%;
}

.nav-trunk {
  background: $color-black;
  width: 100%;
  &.fixed {
    .nav-list {
      // @include flex-wrap(nowrap);
      flex: 2 100%;
    }
    .nav-list-item {
      display: none;
    }
    .nav-list-item.active {
      @include flexbox;
    }
    .nav-list-desc {
      display: none;
    }
  }
}

.nav-crumbs {
  .nav-list-item {
    margin-right: $space-1;
    width: auto;
    &:after {
      content: "/";
      padding-left: $space-1;
    }
    &:last-child:after {
      display: none;
    }
  }
}

.content {
  padding: $space-2 0;
}

.content-item {
  margin: 0 0 $space-3;
}
.content-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content-list-item {
  margin: 0 0 $space-3 0;
}

.content-list, .content-trunk, .content-branch, .content-twig, .content-abstract {
  margin: 0 0 $space-3;
}

.content-tree, .content-trunk, .content-branch, .content-twig {
  position: relative;
  @media (min-width: $mq-medium) {
    &:after {
      background: $color-grey-l4;
      content: "";
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      width: 60%;
      z-index: -1;
      // filter: blur(2px);
    }
  }
}
.content-abstract {
  // text-shadow: 30px 30px 60px rgba(0,0,0,0.2);
}
.skill-box {
  height: 150px;
  width: 100%;
  position: relative;
}
.skill-key {
  height: 100%;
  position: absolute;
  width: 100%;
}
.skill-key-x {
  @include font-size(10);
  @include flexbox;
  padding-left: $space-2;
  width: 100%;
  bottom: 0;
  position: absolute;
  .skill-key-item {
    text-align: center;
    width: 20%;
  }
}
.skill-key-y {
  @include font-size(10);
  @include flexbox;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: $space-2;
}
.skill-list {
  height: 100%;
  width: 100%;
  padding-left: $space-2;
  padding-bottom: $space-2;
  position: absolute;
  @include font-size(10);
  @include flexbox;
  align-items: flex-end;
}
.skill-list-item {
  height: 50%;
  width: 20%;
  position: relative;
  &:before {
    background: $color-grey;
    content: "";
    height: 100%;
    width: 20px;
    @include horizontal-center;
  }
}

#t-skills {
  .skill-1, .skill-5 {
    height: 65%;
  }
  .skill-2, .skill-4 {
    height: 85%;
  }
  .skill-3 {
    height: 100%;
  }
}
#i-skills {
  .skill-1, .skill-5 {
    height: 0%;
  }
  .skill-2, .skill-4 {
    height: 0%;
  }
  .skill-3 {
    height: 100%;
  }
}
#dash-skills {
  .skill-1, .skill-5 {
    height: 50%;
  }
  .skill-2, .skill-4 {
    height: 50%;
  }
  .skill-3 {
    height: 50%;
  }
}

.twig-links {
  @media (min-width: $mq-large) {
    left: 0;
    height: 80vh;
    padding-left: $space-6;
    position: fixed;
    overflow: scroll;
    width: 100%;
    &:after {
      background: linear-gradient(90deg, rgba(247,247,247,0), rgba(247,247,247,1));
      content: '';
      height: 100%;
      position: fixed;
      right: 0;
      top: 0;
      width: 100px;
      z-index: 1000;
    }
    .list-ordered {

    }
  }
  @media (min-width: $mq-xl) {
    padding-left: $space-6 + 20;
  }
}
.modal-backdrop {
  background: $color-grey-l4;
  &.show {
    opacity: 1;
  }
}
.modal-content {
  background: $color-grey-l4;
  border: 0;
}
.modal-content-container {
  @media (min-width: $mq-large) {
    @include vertical-center;
    min-height: 420px;
  }
}
.modal-dialog {
  background: $color-grey-l4;
  @media (min-width: $mq-small) {
    max-width: 80%;
  }
  @media (min-width: $mq-large) {
    max-width: 95%;
  }
}
.modal-header {
  @media (min-width: $mq-large) {
    border-bottom: 0;
    padding-top: $space-3;
  }
}
.modal-title {
  @media (min-width: $mq-large) {
    line-height: 1.2;
  }
}
.modal-footer {
  @media (min-width: $mq-large) {
    bottom: 20px;
    position: fixed;
    right: 20px;
    width: 100%;
  }
}

button.modal-close {
    @include font-size(48);
    font-weight: 300;
    line-height: .5;
    outline: 0;
    padding: $space-1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}
.list-ordered {
  counter-reset: item;
  list-style: none;
  @include flexbox;
  flex-direction: column;
  margin: 0;
  padding: 0;
  @media (min-width: $mq-large) {
    align-content: flex-start;
    flex-direction: row;
  }
}
.list-ordered-item {
  background: $color-white;
  counter-increment: item;
  padding: $space-3;
  margin-bottom: $space-3;
  min-width: 100%;
  position: relative;
  @media (min-width: $mq-large) {
    box-shadow: 20px 20px 20px rgba(0,0,0,0.05);
    margin-bottom: 0;
    margin-right: $space-3;
    min-width: 400px;
    max-width: 400px;
  }
  &:before {
    content: counter(item, decimal-leading-zero);
    color: $color-black;
    @include font-size(16);
    display: block;
    font-weight: 700;
    line-height: 1;
    margin-bottom: $space-2;
    padding-right: 5px;
    position: relative;
    width: 100%;
  }
}
.list-ordered-title {

}
.list-ordered-link {
  @include font-size(24);
  display: block;
  @media (min-width: $mq-large) {
    bottom: $space-2;
    position: absolute;
  }
}
.list-ordered-desc {
  color: $color-grey;
  padding-bottom: $space-2;
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: $mq-large) {
    position: absolute;
    bottom: $space-2;
    right: $space-3;
  }
}

.tags-item {
  color: $color-grey;
  font-style: italic;
}
