---
title: Latest Branches
---

.hero.block
  .container-fluid
    .row.align-items-end
      .col-12.col-md-8.col-lg-6.col-xl-6
        h1.hero-header = tagname
      .col-12.col-sm-6.col-md-4.col-lg-4.offset-lg-2.col-xl-3.offset-xl-3
        = link_to "Suggest a Link", "/suggest-link", :class => "btn btn-black"
.content.block
  ol.cards.row
      - page_articles.each_with_index do |article, i|
        li.col-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
          .card.card-twig
            h2.card-title = article.data.title
            p.card-desc = article.data.abstract
            = link_to "Learn", article.url, :class => "btn btn-default card-cta"
            / .tags.card-tags
            /   - articles.sort_by(&:title).each do |article|
            /     = link_to article.title, article.url, :class => "tag"
